@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.body{
  font-family: 'Open Sans', sans-serif;
  
}

h1.title, h2.title, h3.title1, h3.title2{
  color: #02566E;
}

h2.title2{
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

a.hyperlink{
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.img-time {
  opacity: 1;
  display: block;
  width: 90%;
  height: auto;
  border-radius: 50%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 0;
  padding-right: 0;
}

.image1{
  width: 80%;
  grid-column-start: 1;
  grid-column-end: 2;
}
.image2{
  width: 80%;
  grid-column-start: 3;
  grid-column-end: 4;
}
.text1{
  margin-top: 10%;
  margin-left: -20%;
  grid-column-start: 2;
  grid-column-end: 3;
}
.text2{
  margin-top: 10%;
  margin-left: -20%;
  grid-column-start: 4;
  grid-column-end: 5;
}


